<div>
            <hr color="#000" width="20%">
                <p align="center"><font face="sans-serif" color="#017bf5" size="5.5">FEEDBACK</font></p>
            <hr color="#000" width="20%">
            <br><br>
            <form method="post" action="../Controller/contactcheck.php">
                <table align="center" cellpadding="5" cellspacing="12" border="1" height="200">
                    <tr>
                        <td>
                            <input type="text" name="name" placeholder="Name" required="required" />
                        </td>
                        <td>
                            <input type="text" name="username" placeholder="Username" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="email" name="email" placeholder="Email" required="required" /></td>
                        <td><input type="text" name="subject" placeholder="Subject" required="required" /></td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <input type="submit" name="save" value="Save">
                        </th>
                    </tr>
                </table>

            </form>
        </div>
        <!DOCTYPE html>
        <html>
        <head>
            <title></title>
        </head>
        <body>
            <h3 align="center">
                <font face="sans" size="4">
             <a href="../View/Feedback.php">BACK</a>&nbsp;&nbsp;&nbsp;&nbsp;
</h3>
         </font>
        
        </body>
        </html>
            