<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		Dashboard
	</title>
</head>
<body background="../Asset/bg.jpg">
		<div class="main" id="home">
			<br />
			<h3 align="center">
				<font face="sans" size="4">
					<a href="profile.php">PROFILE</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="../index.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="../Controller/logout.php">LOGOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
				</font>
			</h3>
		</div>


<table border="0" id="Option" width="100%" cellpadding="0" cellspacing="0">
  <tr>
     <td>
      <table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
          <tr>
           	  <td height="160" align="center" valign="middle" colspan="3">
           	  	 <font face="arial" size="6" color=" #f3971b">
           	  	   Menu
           	  	</font>
           	  	<hr width="70" color="#f3971b">
           	  </td>
          </tr>
         <tr>
         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="inventory.php">
         	  			<font face="arial" size="4" color="#ffffff">
         	  			 CAR LIST
         	  		   </font>
                   </a>
         	  		   <br/>
         	  		   <br/>
                     <img src="../Asset/m10.jpg" width="80%"/>
         	  		</td>
         	  	</tr>
         	  </table>	
         	</td>
         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="MakePayment.html">
         	  			<font face="arial" size="4" color="#ffffff">
         	  			MAKE PAYMENT
         	  		   </font>
                 </a>
         	  		   <br/>
         	  		   <br/>
                       <img src="../Asset/payment.jpg" width="90%"/>
         	  		</td>
         	  	</tr>
         	  </table>	
         	</td>

          <td width="33.33%" valign="top">
            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
              <tr>
                <td>
                  <a href="Purchase.php">
                  <font face="arial" size="4" color="#ffffff">
                  PURCHASE HISTORY
                   </font>
                 </a>
                   <br/>
                   <br/>
                       <img src="../Asset/purchase.jpg" width="85%"/>
                </td>
              </tr>
            </table>  
          </td>


         </tr>

         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="loan.html">
         	  			<font face="arial" size="4" color="#ffffff">
         	         ASK FOR LOAN
         	  		   </font>
                 </a>
         	  		   <br/>
         	  		   <br/>
                       <img src="../Asset/bank.jpg" width="100%"/>
         	  		</td>
         	  	</tr>
         	  </table>	
         	</td>
             <td width="33.33%" valign="top">
            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
              <tr>
                <td>
                  <a href="Maintenancehelp.html">
                  <font face="arial" size="4" color="#ffffff">
                  ASK FOR MAINTENANCE HELP
                   </font>
                 </a>
                   <br/>
                   <br/>
                       <img src="../Asset/help.jpg" width="85%"/>
                </td>
              </tr>
            </table>  
          </td>
                       <td width="33.33%" valign="top">
            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
              <tr>
                <td>
                  <a href="Feedback.php">
                  <font face="arial" size="4" color="#ffffff">
                  FEEDBACK
                   </font>
                 </a>
                   <br/>
                   <br/>
                       <img src="../Asset/f.jpg" width="100%"/>
                </td>
              </tr>
            </table>  
          </td>
         </tr>
           <tr>
           	  <td height="60" colspan="3">
                 
           	  </td>
           </tr>
       </table>
     </td>
   </tr>
 </table>
</body>
</html>