<!DOCTYPE html>
<html>
<body>

<h1>PAYMENT OPTIONS</h1>


<form method="post" action="../Controller/Paymentcheck.php">
  <label for="payment">Choose Payment option:</label>
  <select name="payment" id="payment">
    <option value="bkash">Bkash</option>
    <option value="rocket">Rocket</option>
    <option value="credit card">Credit Card</option>
  </select>
  <br><br>
  <input type="submit" name="submit" value="Submit" id="">
  <a href="home.html">BACK</a>&nbsp;&nbsp;&nbsp;&nbsp;
</form>



</body>
</html>